html {
  scroll-behavior: smooth;
}

#editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}

#result {
  margin: 0 0 0 50vw;
  padding: 45px;
}

@media print {
  #editor {
    display: none;
  }

  #result {
    margin: 0;
    padding: 0;
  }

  hr {
    page-break-after: always;
  }
}
